*.*~
*.db
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.apk
.vs/
/Library
/.vscode/
/obj
/Temp
/Build
/ProjDocs
/Build*
/Logs/IncrementalCompiler
*/JetBrains*
/AssetBundles
*.stackdump
.idea
.gradle
/.gradle
/Logs/
/Assets/Plugins/Editor/JetBrains*
./remote_config_data