.nodeActive{
    border-color: green;
    background-color: green;
    border-width: 1px;
}

.defaultNode{
    border-color: grey;
    background-color: grey;
}

.portDefault{
    border-color: grey;
    background-color: grey;
}

.inputPortActive{
    border-color: green;
    background-color: green;
    border-width: 1px;
}

.outputPortActive{
    border-color: orange;
    border-width: 1px;
}

